html, body {
    background-color: #111;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    filter: contrast(90%) brightness(90%);
}

div.container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
